.scene {
  width:100%;
  height: 600px;
}
  
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  
  
  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #ffffff00;
    background-color: rgba(255, 255, 255, 0.5);
    color: #FFF;
    line-height: 10em;
    text-align: center;
  }

  .face img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .front  { transform: rotateY(0deg) translateZ(600px); }
  .right  { transform: rotateY(90deg) translateZ(600px);  }
  .left   { transform: rotateY(-90deg) translateZ(600px); }
  .back   { transform: rotateY(180deg) translateZ(600px); }
  .top    { transform: rotateX(90deg) translateZ(300px); }
  .bottom { transform: rotateX(-90deg) translateZ(300px); }
  