body {
  display: flex;
  flex-direction: row; /* Stack divs side by side */
  flex-basis: fit-content;
  height: 100vh;
  width: 100vw;
  padding: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
  align-content: flex-start;
  background-color: rgb(255, 251, 245);
}

.draggable {
  word-wrap: break-word;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  /* padding: 2%; */
  min-width: 30vw;
  max-width: 90vw;
  max-height: 90vh;
  word-wrap: break-word;
  position: relative;
  z-index: 1;

}
  
  @keyframes float {
    0% { transform: translate(0, 0) }
    50% { transform: translate(-3px, 5px) }
    100% { transform: translate(0, 0) }
  }

  p {
    font-size: x-small;
  }


  h2 {
    font-size:x-large;
    font-style:italic;
    padding:2%;
  }

  h3 {
    font-size: medium;
  }


  img {
    animation: float 7s ease-in-out infinite;
    padding: 1%;
    max-width: 100%;
    position: relative; 
    opacity:0.8;
  }
  
  .gpt {
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;

  }
  
  .human {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    animation: float 4s ease-in-out infinite;
    text-align: right;
    opacity: 1;
    color: rgb(38, 55, 236);
  }

  #chart {
    width: 200%;
  }

  .inline-quote {
    font-size: small;
    font-weight: bold;
    padding: 1%;
    animation: float 7s ease-in-out infinite;
    display: inline-block;
    position: relative;
    top: 10px; /* Adjust the top value to position it vertically */
}
 
